name: build

on:
  push:
    branches:
      - master
      - 'renovate/**'

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Docker registry login
        if: ${{github.ref == 'refs/heads/master'}}
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build and Publish
        uses: renovatebot/internal-tools@v1.2.25
        with:
          command: docker-builder
          dry-run: ${{github.ref != 'refs/heads/master'}}
          last-only: true
